.checkout-page {
    height: 100%;
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 75% 1fr;
    grid-template-rows: auto auto;
    grid-row: nowrap;
    overflow: auto;
    column-gap: 1em;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.course-heading {
    display: flex;
    grid-row: 2;
    margin-bottom: 1em;
    justify-content: space-between;
    grid-column: 1;
    width: 100%;
}

#course-head-text {
    font-weight: bold;
}

.checkout-summary {
    grid-row: 3;
    padding: 1em;
    box-shadow: 0px 3px 6px #00000029;
    height: max-content;
}

#final-checkout-price {
    font-size: 1.8em;
}

#saved {
    font-size: .8em;
    color: #629A33;
}

#checkout-button {
    color: #FFFFFF;
    background-color: #FF6738;
    text-align: center;
    margin-top: 1em;
    padding: .5em;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #fc8460;
}

#checkout-button:active {
    background-color: #ff5f2e;
}